.user-text {
    & h5.da {
        color: #aaa;
        margin: 0;
        /*
        margin-bottom: -4px;
        */
    }
    & .reply-list__header {
        margin-left: 3px;
    }
    & .explanation-header {
        margin: 5px 0;
    }
    & .action-buttons {
        margin: -2px 0 2px 0;
        font-size: .9em;
    }
    & .comment-section-header {
        margin-top: 2px !important;
    }
    /*
    .user-text__info-group,
    .action-buttons,
    {
        opacity: 0.6;
    }
    */
    /*
    div.recursive-block + div.recursive-block {
        margin-top: 15px;
    }
    */
}
