<!DOCTYPE html>
<html class="css_da">

  <head>
    <meta name="description" content="Curated Lists" property="og:description" itemprop="description">
    <meta charset="UTF-8">
    <title>Curated Lists</title>
  </head>

  <body>

    <div class="css_header_wrapper"> <!-- wrapper for having background-color while having custom scrollbar -->
      <div class="css_header">
        <div class="css_header_content"> <!-- content div for footer -->

          <div class="css_header_top">
            <div id="js_userinfo" class="css_userinfo"></div>
          </div>

          <div id="js_tag_list" class="css_tag_list"></div>

          <div class="css_header_footer">
            <a class="css_da" href="https://github.com/brillout/devarchy" target="_blank">
              <i class="octicon octicon-mark-github" style="font-size: 1.4em; vertical-align: middle"></i>
              <span style="vertical-align: middle;padding-left: 2px">Open Source</span>
            </a>
          </div>

        </div>
      </div>
    </div>

    <div id='js_content' class="css_content"></div>

  </body>

</html>
