<!DOCTYPE html>
<html class="css_da">

  <head>
    <meta name="description" content="Programming Catalogs" property="og:description" itemprop="description">
    <meta charset="UTF-8">
    <title>Programming Catalogs</title>
  </head>

  <body>

    <div class="css_header_wrapper"> <!-- wrapper for having background-color while having custom scrollbar -->
      <div class="css_header">
        <div class="css_header_content"> <!-- content div for footer -->

          <div class="css_header_top">
            <div id="js_userinfo" class="css_userinfo"></div>
          </div>

          <div id="js_tag_list" class="css_tag_list"></div>

          <div class="css_header_footer">
            <a
              class="css_da"
              style="color: #777"
              href="https://github.com/brillout/devarchy/issues"
              target="_blank"
            >
                Feedback
            </a>
            <span style="margin: 0 10px; color: #777; position: relative; top: 1px">&bull;</span>
            <a
              class="css_da"
              style="color: #777"
              href="https://github.com/brillout/devarchy"
              target="_blank"
            >
              Source code
            </a>
          </div>

        </div>
      </div>
    </div>

    <div id='js_content' class="css_content"></div>

  </body>

</html>
