.css_description_label {
    color: #999;
    font-size: 0.9rem;
    margin-top: 13px;
    margin-bottom: 4px;
}

fieldset.css_da {
    padding: 0;
    margin: 0;
    border: 0;
}

.css_input_wrapper {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.08);
    cursor: text;
    @nest [disabled] & {
        cursor: default;
    }
    padding: 7px 10px;
    display: inline-flex;
    border-radius: 3px;
    & > input {
        border: 0;
        background: transparent;
        padding: 0;
        width: 10px;
        flex: 1;
        font-family: inherit;
    }
    &,
    & > input {
        font-size: 14px;
    }

    & > .css_input_wrapper__prefix {
        color: #4f4f4f;
    }
}

[disabled].css_da {
    @nest
    button&,
    & button {
        &.css_primary_button > * {
            opacity: 0.2 !important;
        }
        &.css_text_button {
            /* rgba(51, 51, 51) == #333 */
            color: rgba(51, 51, 51, 0.2);
        }
        &:not(.css_text_button):not(.css_primary_button) > * {
            opacity: 0.4 !important;
        }
        & {
            cursor: default;
        }
    }
}


[disabled] button *,
button[disabled] * {
    &.css_color_contrib,
    &.css_color_contrib_dark,
    &.css_color_contrib_light {
        color: inherit;
    }
}


button,
button > * {
    transition-property: opacity, color;
    transition-duration: 0.5s;
}

.css_saving button.css_async_action_button,
button.css_saving {
    @apply --loading_icon__middle;
}
