.css_description_label {
    color: #999;
    font-size: 0.9rem;
    margin-top: 13px;
    margin-bottom: 4px;
}

label.css_da {
    cursor: pointer;
    @nest [disabled] & {
        cursor: default;
    }
}

textarea.css_da,
input.css_da {
    outline: 0;
}

fieldset.css_da {
    padding: 0;
    margin: 0;
    border: 0;
}

.css_input_wrapper {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.08);
    cursor: text;
    @nest [disabled] & {
        cursor: default;
    }
    padding: 7px 10px;
    display: inline-flex;
    border-radius: 3px;

    & > input,
    & .sel_input_area {
        width: 10px;
        flex: 1;
        & input {
            width: 100%;
        }
    }

    &,
    & input {
        font-size: 14px;
    }

    & input {
        border: 0;
        outline: 0;
        background: transparent;
        padding: 0;
        font-family: inherit;
    }

    & > .css_input_wrapper__prefix {
        color: #4f4f4f;
    }

    & .sel_input_area {
        position: relative;

        & > .sel_input_placeholder {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            color: #ccc;
            pointer-events: none;
            &::before {
                content: "Search";
                display: block;
            }
            opacity: 0;
            /*
            transition: opacity .2s;
            */
            &.sel_input_is_empty {
                opacity: 1;
            }
        }
    }
}

input[type="text"].css_da,
input:not([type]).css_da
{
    vertical-align: middle;
    padding: 1px 3px;
    background-color: white;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}

.css_inline_input {
    & > input {
        border: 0;
        padding: 0 3px;
        display: inline;
        background-color: transparent;
        font-size: inherit;
        font-family: inherit;

    }
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}

input::placeholder {
    opacity: 1; /* for firefox */
    color: #bbb;
}

input[type="checkbox"].css_da {
    vertical-align: middle;
    margin: 0;
    margin-right: 4px;
    display: inline-block;
    margin-top: -2px;
}
