@import './colors.vars.css';

.css_header {
    color: #3a3a3a;

    & .css_login_button {
        margin-top: 8px;
    }

    & .css_userinfo {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .css_tag_list {
        margin: 10px;
    }

    & .css_header_content {
        position: relative;
        padding-bottom: var(--footer_height);
        min-height: 100%;
        padding-top: 8px;
    }
}

/* we have to use a wrapper because of custom scrollbar animation trick */
.css_header_wrapper {
    background-color: var(--color_gray);
}

/* custom scrollbar */
@media screen and (-webkit-min-device-pixel-ratio:0) { /* trick to only apply in webkit */
    .css_header {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        &::-webkit-scrollbar-track {
            display: none;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
        }

        /* transition on hover */
        &::-webkit-scrollbar-thumb {
            background-color: inherit;
        }
        background-color: rgba(0,0,0,0);
        transition: background-color .8s;
        -webkit-background-clip: text;
        &:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }
}
