:root {
    --loading_icon: {
        position: relative;
        &::before {
            font: normal normal normal 14px/1 FontAwesome;
            content: "\F1CE";
            animation: fa-spin 2s infinite linear;
            position: absolute;
            left: 0;
            color: #666;
            width: 100%;
        }
    }

    --loading_icon__middle: {
        @apply --loading_icon;
        &:before {
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            height: 100%;
            padding-left: 1px; /* improve FontAwesome's wrong icon dimensions */
        }
    }

    --loading_icon__top {
        @apply --loading_icon;
        &:before {
            display: block;
            text-align: center;
            top: 20%;
        }
    }
}

.css_loading_block {
    @apply --loading_icon__top;

    & > *,
    &::before {
        transition: opacity 0.9s;
    }
    &::before {
        z-index: -1;
        opacity: 0;
    }

    &.css_loading_block__loading {
        &::before {
            z-index: inherit;
            opacity: 1;
        }
        /* to avoid clicks */
        &::after {
            left: 0;
            top: 0;
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent;
        }
        & > * {
            opacity: 0.3;
        }

        &.css_loading_block__loading__light {
            &::before {
                opacity: 0;
            }
            & > * {
                opacity: 0.5;
            }
        }
    }
}
