/* prevent scroll to propagate */
* {
    /* https://github.com/w3c/csswg-drafts/issues/769 */
    /* https://bugs.chromium.org/p/chromium/issues/detail?id=672921 */
    scroll-boundary-behavior: contain;
}
/* doesn't seem to be supported in Chrome
    - http://stackoverflow.com/questions/25820750/what-is-css-scroll-behavior-property
    - https://developer.mozilla.org/en/docs/Web/CSS/scroll-behavior
* {
    scroll-behavior: smooth;
}
*/

html.css_prevent_scroll_propagation {
    & .sel_main_view {
        overflow-y: scroll;
    }
}
html:not(.css_prevent_scroll_propagation) {
    & body {
        overflow-y: scroll;
    }
}
