:root {
    --icon_width: 23px;
}

.css_tag {
    display: block;
    position: relative;
    margin: 10px 0;
    padding-left: calc(var(--icon_width) + 17px);
    color: #4b4b4b !important;
    font-size: 1.41rem;

    & .css_tag_icon {
        position: absolute;
        width: var(--icon_width);
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        margin-left: calc(var(--icon_width) * -1 - 4px);
        display: block;
        /* don't know why autoprefixer doesn't add -webkit- prefix */
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}
