html.css_da {
    color: #333;
    font-size: 0.82em;
}
html.css_da > body {
    font-family: Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5 {
    &.css_da {
        font-weight: normal;
    }
}

h1, h2 {
    &.css_da {
        font-weight: 300;
        vertical-align: middle;
    }
}
h1.css_da {
    font-size: 1.7em;
}
h2.css_da {
    font-size: 1.55em;
}

h6.css_da {
    opacity: 0.6;
    font-size: .75rem;
    font-weight: 500;
    margin: 0;
}

html a.css_da {
    &, &:hover, &:focus {
        color: #aaa;
        cursor: pointer;
    }
}

code.css_da {
    font-family: monospace;
    border-radius: 3px;
    &:not(.css_inline) {
        font-size: 12px;
        padding: 0.2em;
        background-color: rgba(0,0,0,0.04);
    }
    &.css_inline {
        padding: 0.1em 0.45em;
        font-size: 1.09em;
        background-color: rgba(0,0,0,0.06);
    }
}

.css_p {
    margin: 1em 0;
}

.css_note {
    font-size: 0.9em;
    color: #575757;
}

.css_action_text {
    text-decoration: underline;
    cursor: pointer;
}

.css_light_paragraph {
    margin: 0;
    padding: 3px 0;
    font-size: 1.1em;
}

.css_description_line {
    display: block;
    position: relative;
    top: -1px;
    color: #999;
    font-size: 10.6667px;
}
