@import '../../../../css/colors.vars.css';

.css_new_requests {
    padding-top: 3px;
    margin-top: 5px;
    margin-left: 6px;
    padding-left: 10px;
    border-width: 0 0 0 6px;
    border-color: var(--css_color_gray);
    border-style: solid;
}

.css_catalog_title {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-right: 10px;
    white-space: pre;
}
