@import '../../../../css/icons.vars.css';

.css_resource {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.css_resource_header__stars {
    display: inline-block;
    width: 41px;
    text-align: right;
    &::after {
        color: #aaa;
        content: " \2605";
    }
}
.css_resource_header__date {
    display: inline-block;
    width: 50px;
    text-align: right;
    font-size: 0.9em;
    &::after {
        @apply --css_icon_age;
        background-repeat: no-repeat;
        display: inline-block;
        content: "";
        width: 13px;
        height: 13px;
        margin-left: 4px;
        /*
        margin-bottom: -2px;
        */
        margin-bottom: -1px;

        /*
        font-family: FontAwesome;
        color: #aaa;
        content: " \f271";
        */
    }
}
.css_resource_header__downvotes,
.css_resource_header__upvotes {
    display: inline-block;
    width: 25px;
    padding-left: 5px;
    text-align: left;
    &::before {
        color: #aaa;
        font-size: 1.2em;
    }
}
.css_resource_header__upvotes {
    &::before {
        content: "\25B4 ";
    }
}
.css_resource_header__downvotes {
    &::before {
        content: "\25BE ";
    }
}
.css_resource_header__name {
    display: inline;
    padding-left: 10px;
    font-size: 1.05em;
}
.css_resource_header__description {
    display: inline;
    padding-left: 6px;
    color: #999;
    font-size: 13.33333px;
}


.css_resource_request {
    margin-bottom: 5px;
}
.css_resource_header__request_name {
    display: inline;
    font-size: 1.1em;
    color: #888;
    padding-left: 3px;
    font-size: 0.9em;
}
.css_resource_header__request_description {
    display: inline;
    font-size: 13.33333px;
}

.css_resource_header__description b {
    color: #666;
}
.css_resource_header__name b {
    color: #222;
}

.css_resource_dim {
    opacity: 0.3;
}
